:host {
	/*
   * Ignore this smart-component wrapper, allowing us to position dumb child components
   * in the global CSS Grid layout!
   * Not supported in IE or Edge at all!
   * https: //caniuse.com/#search=display%3A%20contents
   */
	display: contents;
}

// Smart component decides where dumb components go in the global layout!
app-dumb-trigger {
	grid-area: b;
}

app-dumb-responder {
	grid-area: c;
}
