/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
}

.dumb {
	height: 18px;
	border: solid 3px grey;
	border-radius: 4px;
	padding: 1em;
	text-align: center;
}
